{{ summary }}{% if description or args or returns or raises %}{% if description %}


{{ description }}{% endif %}{% if args %}


Args:
{% for arg in args %}    {{ arg.name }} ({{ arg.type }}{% if arg.default %}, optional{% endif %}): {{ arg.description }}{% if arg.default %} Defaults to {{ arg.default }}.{% endif %}
{% endfor %}{% endif %}{% if returns %}


Returns:
    {{ returns.type }}: {{ returns.description }}
{% endif %}{% if raises %}


Raises:
{% for exception in raises %}    {{ exception.type }}: {{ exception.description }}
{% endfor %}{% endif %}{% endif %}